/* ImageGallery.css */
.image {
    max-width: 80%;
    height: auto;
    border-radius: 5%;
    border-style: double;
    border-color: rgb(49, 8, 87);
  }
  .fade-in {
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
  }
  
  @media (max-width: 600px) {
    .image {
      width: 80%;
    }
  }