/* App.css */
body {
  font-family: vivaldi;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

body {
  background: linear-gradient(to right, #000, #5e0c5e);
  margin: 0;
  color: rgb(199, 31, 31);
}



/* App.css */
.hidden {
  display: none;
  opacity: 0; /* Define a opacidade inicial como 0 para o elemento oculto */
  transition: opacity 0.5s ease-in-out; /* Adiciona uma transição suave */
}

.player-container {
  /* Estilos para o container do player */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-player { 
  /* Estilos para o próprio player */
  margin-top: 2%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
